<!-- <div class="container">
    <div class="header text-center">
      <h1>Welcome to Our Hospital</h1>
      <p class="message">Thank you for choosing our hospital for your medical needs.</p>
    </div>
  
    <div class="row justify-content-center">
      <div class="col-md-4 mb-4" *ngFor="let doctor of doctors">
        <div class="card">
          <img [src]="doctor.image" class="card-img-top" alt="Doctor">
          <div class="card-body">
            <h5 class="card-title">{{ doctor.name }}</h5>
            <p class="card-text">{{ doctor.specialization }}</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="services text-center mt-5">
      <h2>Our Services</h2>
      <ul class="list-unstyled">
        <li *ngFor="let service of services">{{ service }}</li>
      </ul>
    </div>
  </div> -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/hospital2.jpg" class="img-fluid" alt="Hospital Photo">
      </div>
      <div class="col-md-6">
        <br>
        <br>
        <br>
        <div class="header text-center">
          <h1>Stay Safe and Healthy with Us</h1>
          <h4 class="message">Health is Wealth - Keep it in Check with Us</h4>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h2 class="card-title">No. of Staff at Work</h2>
            <h4 class="card-text">500+</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h2 class="card-title">Doctors at Work</h2>
            <h4 class="card-text">150+</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h2 class="card-title">Beds Available</h2>
            <h4 class="card-text">1800+</h4>
          </div>
        </div>
      </div>
    </div>
  
    <div class="services text-center mt-5">
      <div class="servicehead">
      <h1>Our Services</h1>
      <div class="row justify-content-center">
        <div class="col-md-3">
          <div class="service-item">
            <h3>Ambulance 24*7 Service</h3>
            <p>Emergency medical transportation available round the clock.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="service-item">
            <h3>Expert Consultancy</h3>
            <p>Consult with our experienced medical professionals for expert advice.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="service-item">
            <h3>Beds Facility</h3>
            <p>Comfortable and well-equipped beds for patients' convenience.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="service-item">
            <h3>Medicines</h3>
            <p>Wide range of high-quality medicines available onsite.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
    
  
    <div class="row mt-5">
      <div class="col-md-12">
        <h1 class="text-center">Our Doctors</h1>
        <div class="row justify-content-center">
          <div class="col-md-4 mb-4" *ngFor="let doctor of doctors">
            <div class="card">
              <img [src]="doctor.image" class="card-img-top" alt="Doctor">
              <div class="card-body2">
                <h3 class="card-title">{{ doctor.name }}</h3>
                <h5 class="card-text">{{ doctor.specialization }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row mt-5">
      <div class="col-md-12">
        <h2 class="text-center">Good Reviews</h2>
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat tincidunt risus, eu dictum elit gravida non."</p>
                <div>
                <h4 class="text-end">- Priyom Roy</h4>
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <p class="card-text">"Sed vel semper risus. Vestibulum convallis scelerisque risus id varius.yiyfjvscgvkaksgkags"</p>
                <div>
                <h4 class="text-end">- Ratul Paul</h4>
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <p class="card-text">"Fusce at libero nec magna vehicula rutrum vel vel nunc. In eget justo et turpis pretium scelerisque."</p>
                <div>
                <h4 class="text-end">- Sayantani Saha</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="text-center">
          <h1>Thank you for choosing us.</h1>
        </div>
      </div>
    </div>
  </div>
    